<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title><{:lang('fabu_xq')}></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="<{:config('skin_path')}>/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="<{:config('skin_path')}>/css/user.css">
		<style type="text/css">
			.layui-flow-more{text-align: center;display:none;}
			.item{
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<{if !$is_h5_plus }>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="<{:url('chat/index')}>"></a>
		    <h1 class="mui-title"><{:lang('fabu_xq')}></h1>
		</header>
		<{/if}>
		<div class="mui-content">
			<style>
				.mood-menu{background: #e6e6e6;border-bottom:1px solid #ccc;}
				.mood-menu .fanyi-select{width: 130px;margin: 0;}
				.mood-pic-list{background: #fff;margin-top: -5px;padding:10px;border:1px solid rgba(0,0,0,.2);border-bottom:1px dashed #ccc;border-top:0;}
				.mood-pic-item{border:1px dashed #ccc;float: left;padding:10px 10px;font-size: 2em;}
				input[name='file']{position: absolute;left: -100%;}
			</style>
            <form class="layui-form" action="">
            	<div class="layui-form-item">
            		<div class="layui-form-item layui-form-text">
            			<div class="layui-input-block">
            				<textarea name="mood" placeholder="Please input mood content" class="layui-textarea" style="margin:0;height:100px;border-radius:0;"></textarea>
            			</div>
            			<div class="mood-pic-list">
            				<div class="mood-pic-box">
	            				<div class="mood-pic-item" id="mood-pic">
	            					+
	            				</div>
            				</div>
            				<div class="" style="clear:both;"></div>
            			</div>
            			
            			<div class="mood-menu">
            				<select name="lang" id="lang" class="fanyi-select" lay-ignore>
            					<option value="no"><{:lang('no_trans')}></option>
            					<option value="zh">中文简体</option>
            					<option value="cht">中文繁体</option>
            					<option value="en">English</option>
            					<option value="jp">日本語</option>
            					<option value="kor">한국어</option>
            				</select>
            				<button class="layui-btn" lay-submit="" lay-filter="sub" style="float:right;margin:5px 10px 0 0;background:#007aff;color:#fff;border:0;"><{:lang('submit')}></button>
            			</div>
            		</div>
            	</div>
			</form>
		</div>
		<!--footer-->
		<{include file="public:footer" /}>
		<!--footer end-->
		<!-- <script src="<{:config('skin_path')}>/js/mui.min.js"></script> -->
		<script type="text/javascript" src="<{:config('skin_path')}>/layui/layui.js"></script>
		<script type="text/javascript">
			layui.use(["jquery","layer","upload","form"],function(){
				var upload = layui.upload;
				var	layer = layui.layer;
				var $=layui.jquery;
				var form=layui.form;

				//执行实例
				var uploadInst = upload.render({
					elem: '#mood-pic', //绑定元素
					url: "<{:url('Mood/up_mood_pic')}>", //上传接口
					accept:"images",
					acceptMime:"image/*",
					done: function(res){
				  		//上传完毕回调
				  		if(res.code == 0){
				  			$(".mood-pic-box").empty();
				  			$(".mood-pic-box").append("<img style='width:40px;height:40px;' src='"+res.data.src+"'><input type='hidden' name='mood_pic' value='"+res.data._src+"'>");
				  		}
					},
					error: function(){
				  		//请求异常回调
					}
				});

				$("#lang").change(function(){
					var _val = $(this).val();
					var mood = $("textarea[name='mood']").val();
					if(_val !== "no" && Trim(mood) != ""){
						layer.open({
							title:"Tips",
							content:"翻译需要扣除一个金币",
							icon:3,
							btn: ['确定', '取消'],
							yes:function(index){
								$.getJSON("<{:url('fanyi/index')}>",{pals_id:0, txt:mood, lang:_val},  function(res){
									if(res.code == 0){
										$("textarea[name='mood']").val(res.msg);
									}else{
										layer.msg(res.msg);
									}
									layer.closeAll();
								});
							}
						});
					}
				});


				form.on("submit(sub)",function(data){
					//console.log(data.field);
					
					//return false;
					$.post("<{:url('mood/add')}>",data.field,function(res){
						layer.msg(res.msg);
						if(res.code==0){
							window.location.href="<{:url('mood/index')}>";
						}else{
							
						}
					});
					return false;		
				});
			});

function Trim(x) {
    return x.replace(/^\s+|\s+$/gm,'');
}
		</script>

	</body>
</html>