input, textarea{font-family: "寰蒋闆呴粦";}
*{margin:0; padding:0; list-style:none; }
body{background: #f5f5f5;}
.mui-bar{background: #FFFFFF;}
.mui-segmented-control.encontent{height: 50px;background: #FFFFFF;}
.mui-segmented-control.encontent .en-scroll{background: #fff;height: 50px;}
.encontent .en-scroll .mui-control-item{margin: 10px 0;padding: 0;border-bottom:2px solid #fff;}
.encontent .en-scroll .mui-control-item span{display: inline-block;width: 100%;border-right:1px solid #ddd;padding: 0 20px;line-height: 28px;}
.encontent .en-scroll .mui-control-item:last-child span{border-right:none ;}
/*index begin*/
.en-card-ul{width: 100%;box-sizing: border-box;padding: 5px 0;}
.en-card-ul .en-card-li{width: 33%;float: left;box-sizing: border-box;padding:5px;}
.en-card-ul .en-card-li a{width: 100%;display: block;background: #fff;border-radius: 5px;box-shadow: 2px 2px 10px #eee;padding-bottom: 5px;}
.en-card-img{display: block;max-width: 100%;margin: 0 auto;}
.cardli-title{font-size: 20px;text-align: center;line-height: 36px;height:36px;color: #222;overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; width: 95%; margin: 0 auto;}
.cardli-price{text-align: center;color: #f58437;font-size: 20px;line-height: 28px;}

/*Detail*/
.mainimg{width: 100%;background: #fff;margin-bottom: 15px;}
.mainimg img{display: block;margin: 0 auto;}
.white{width: 100%;background: #fff;padding: 5px 0;margin: 10px 0;}
.xq-sm li{font-size: 16px;line-height: 30px;width: 100%; box-sizing: border-box;padding: 0 10px;display: flex;}
.xq-sm li span{display: inline-block;width: 140px;color: #888;}
.xq-sm li p{display: inline-block;width: 100%;font-size: 16px;line-height: 30px;text-align: left;margin: 0;color: #888;}
.xq-sm li .yh-price{color: #f58437;}
.buy-btn{display: block;line-height: 36px;height: 36px;color: #fff;width: 90%;border-radius: 5px;background: #3f78df;text-align: center;font-size: 18px;margin: 15px auto;}
.buy-btn:active{background: #326cd5;color: #fff;}
.xq-cont{width: 95%;margin: 0 auto;}
.xq-cont .xq-cont-title{font-size: 1.2rem;line-height: 1.6rem;}
.xq-cont p{font-size: 0.9rem;line-height: 1.4rem;}
/*Greeting card*/
.header-right{line-height: 44px;font-size: 16px; color: #748597;}
/*pay*/
.mui-input-group:after{background: none;}
.form-block{width: 100%;background: #fff;padding: 5px 0;box-sizing: border-box;padding: 5px 0;}
.form-block .mui-row{width: 100%;display: flex;color: #222;line-height: 28px;font-size: 1rem;margin: 10px 0;box-sizing: border-box;padding: 0 10px;}
.form-block .mui-row label{width: 200px;}
.form-block .mui-row .mui-row-right{width: 100%;padding-left: 5px;}
.form-title{background: #f5f5f5;width: 100%;height: 36px;line-height: 36px;font-size: 1.2rem;box-sizing: border-box;padding: 0 10px;color: #222;}
.form-block .mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{top:0;}
.form-block .mui-input-clear{border: 1px solid #ddd;border-radius: 3px;text-align: center;line-height: 36px;height: 36px;width: 75%;}
.form-block .form-text{width: 100%;border-radius: 3px;border: 1px solid #ddd;}
.max-img{max-width: 100%;}
.form-btn{width: 100%;box-sizing: border-box;padding: 15px 20px;background: #f5f5f5;}
.mui-btn-block{padding: 10px 0;}
.mui-btn-blue{background: #3f78df;}
.mui-btn-blue:active{background: #326cd5;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #326cd5;}
.form-block .mui-radio input[type=radio]:checked:before {
    content: '\e442';
}
