*{margin:0 auto;padding:0;}
body{font-size:12px;background:#FEF4F4;padding-top:45px;font-family:"Arial"}
img{border:none;cursor:pointer;}
a{text-decoration:none;color:#2c589e;}
h3,h4{color:#e2679e;float:left;}
li{list-style:none;}
/*é¡¶éƒ¨å·¥å…·æ */
.top_bar{width:100%;height:48px;position:fixed;top:0;left:0;background:url(../images/top_bar_bg.png) bottom repeat-x #e2679e;}
.top_bar_n{width:980px;height:45px;}

.top_l{width:auto;float:left;}
.web_logo{width:190px;height:45px;float:left;}
.user_top{float:left;line-height:45px;color:#fff;}
.user_top span{float:left;margin-left:25px;}
.user_top i{padding:5px;background:#f6e52a;color:#7d4e3f;font-style:normal;margin-left:25px;}
.top_tips{float:left;margin-left:25px;line-height:45px;color:#fff;background:url(../images/tips.png) no-repeat left center;padding-left:25px;padding-right:12px;position:relative;background-position:3px;cursor:pointer;}
.top_tips:hover{background:#fff url(../images/tips.png) no-repeat left center;color:#666;background-position:3px;border-left:#333 solid 1px;border-right:#333 solid 1px;}
.top_tips:hover.top_tips{padding-left:24px;padding-right:12px;}
.top_tips:hover.top_tips span{display:block;}


.top_tips i{width:10px;height:10px;top:10px;right:0;position:absolute;background:url(../images/tips_i.png);display:none;}
.top_tips span{width:180px;border:#333 solid 1px;background:#fff;position:absolute;left:-1px;top:44px;border-top:none;display:none;padding:5px 10px;line-height:20px;}
.top_tips span a{width:100%;float:left;}

.top_r{width:auto;float:right;}
.top_r a{color:#fff;height:45px;line-height:45px;float:left;margin-left:15px;}
.a_update{background:url(../images/a_update.png) no-repeat left center;padding-left:15px;}
.a_home{background:url(../images/a_home.png) no-repeat left center;padding-left:20px;}
.a_my{background:url(../images/a_my.png) no-repeat left center;padding-left:20px;}
.a_so{background:url(../images/a_so.png) no-repeat left center;padding-left:20px;}
.a_fill{background:url(../images/a_fill.png) no-repeat left center;padding-left:25px;}
.top_r a.a_set{background:url(../images/a_set.png) no-repeat center;padding:0 20px;margin-left:10px;position:relative;color:#333;}
.top_r a.a_set:hover{background:#fff url(../images/a_set.png) no-repeat center;}
.top_r a.a_set:hover{background:#fff url(../images/a_set.png) no-repeat center;border-left:#333 solid 1px;border-right:#333 solid 1px;}
.top_r a.a_set:hover.a_set{padding:0 19px;}
.top_r a.a_set:hover .s_set{display:block;}

.top_r a.a_skin{background:url(../images/a_skin.png) no-repeat center;padding:0 20px;margin-left:0;position:relative;}
.top_r a.a_skin:hover{background:#fff url(../images/a_skin.png) no-repeat center;border-left:#333 solid 1px;border-right:#333 solid 1px;}
.top_r a.a_skin:hover.a_skin{padding:0 19px;}
.top_r a.a_skin:hover .s_skin{display:block;}

.s_set{width:80px;border:#333 solid 1px;position:absolute;top:44px;right:-1px;background:#fff;border-top:none;display:none;padding:5px 10px;}
.s_set span{width:100%;float:left;line-height:20px;}
.s_set span:hover{color:red;}
.s_skin{width:205px;height:auto;border:#333 solid 1px;position:absolute;top:44px;right:-1px;background:#fff;border-top:none;display:none;padding:5px 5px;}
.s_skin dl dt{width:200px;height:100px;float:left;overflow:hidden;margin-top:10px;border:#333 solid 1px;}




/*bannerå›¾ç‰‡*/
.banner{width:100%;height:235px;background:url(../images/banner.png) no-repeat center;}

/*å¤´éƒ¨*/
.top{width:980px;height:84px;background:transparent;}
.username{width:976px;height:50px;float:left;padding:2px;}
.username span{float:left;}
.username span a{color:#ff5479;font-weight:bold;font-size:15px;}
.username em{float:right;}

.index_bar{width:980px;height:25px;background:url(../images/index_top_line.gif) repeat-x bottom;float:left;}
.index_bar span{width:auto;float:left;padding:0 10px;background:#feb9d8;line-height:23px;margin-top:1px;margin-left:10px;cursor:pointer;color:#dc1d87;}
.index_bar span.index_bar_c{border:#aa001f solid 1px;margin-top:0;border-bottom:#FEF4F4 solid 1px;background:transparent;}
.index_bar span a{color:#dc1d87;}

/*main*/
.main{width:966px;margin:0 auto;clear:both;overflow:hidden;background:#fff;padding:7px;}

/*å·¦éƒ¨é€šç”¨*/
.left{width:162px;float:left;}
.avatars{width:162px;height:162px;float:left;}
.avatars img{width:156px;height:156px;border:#cedfee solid 1px;padding:2px;}
.rz_zp{width:162px;float:left;margin-top:7px;border-top:#dbc199 solid 1px;padding-top:10px;}
.rz_zp span{width:50px;height:32px;float:left;border-left:#dbc199 solid 1px;text-align:center;line-height:15px;color:#aa001f;}
.rz_zp span.rz_zp_c{border:none;}

.grade{width:162px;float:left;margin-top:7px;border-top:#dbc199 solid 1px;padding-top:15px;}
.grade span{width:167px;height:20px;float:left;text-align:left;line-height:20px;color:#aa001f;padding-left:5px;}
.userinfos{width:162px;float:left;margin-top:7px;border-top:#dbc199 solid 1px;padding-top:10px;}
.userinfos span{width:155px;height:20px;float:left;text-align:left;line-height:20px;color:#aa001f;padding-left:5px;}
.userdesc{width:162px;float:left;margin-top:7px;border-top:#dbc199 solid 1px;padding-top:10px;}
.userdesc span{width:155px;height:20px;float:left;text-align:left;line-height:20px;color:#aa001f;padding-left:5px;}

/*å³éƒ¨é€šç”¨*/
.right{width:784px;float:right;}
.right_l{width:600px;float:left;min-height:500px;}

/*æœ€æ–°ç…§ç‰‡*/
.new_photo{width:600px;height:150px;float:left;}
.new_photo h3{line-height:35px;color:#e2679e;}
.new_photo ul{width:600px;height:115px;float:left;}
.new_photo ul li{width:109px;height:109px;float:left;border:#ccc solid 1px;text-align:center; overflow: hidden;padding:2px;margin-right:15px;}
.new_photo ul li img.img{vertical-align:middle;max-width:109px;}
.new_photo ul li img.block{width:0px;height:100%;} 

/*å‘è¡¨è¯´è¯´*/
.mood{width:600px;float:left;margin-top:20px;}
.mood textarea{width:560px;height:30px;border:#ccc solid 1px;line-height:30px;resize:none;padding:0 2px;outline:none;}

.moodlist{width:600px;float:left;}
.moodlist ul li{width:600px;float:left;padding:8px 0;border-bottom:#ccc solid 1px;}
.li_avatar{width:60px;height:60px;float:left;}
.li_avatar img{width:54;height:54px; border:#e3e3e3 solid 1px;border-radius:2px;padding:2px;}
.li_info{width:530px;float:left;margin-left:10px;}
.li_info_t{width:530px;height:25px;float:left;}
.li_info_t span{float:left;}
.li_info_t span a{font-size:13px;font-weight:bold;}
.li_info_t em{float:right;font-style:normal;color:#2c589e;font-weight:bold;cursor:pointer;}
.li_info_n{width:508px;float:left;line-height:22px;border-left:#ccc solid 2px;padding:0 10px;}
.li_info_n img{max-width:300px;max-height:200px;border:#ccc solid 1px;padding:2px;}
.li_info_btn{color:#666;}

.right_r{width:166px;float:right;height:auto;}
.right_r ul{float:left;margin-top:10px;}
.right_r ul li{width:166px;height:150px;float:left;text-align:center;}
.right_r ul li img{width:100px;height:100px;float:left;margin-left:30px;border:#ccc solid 1px;}
.right_r ul li span{width:166px;float:left;line-height:20px;}




.fenye{width:598px;height:36px;background:#f6f7fb;float:left;border:#e3e3e3 solid 1px;margin-top:10px;line-height:36px;text-align:center;color:#333;}

/*.foot{width:100%;height:78px;line-height:25px;text-align:center;padding-top:20px;}
.foot a{color:#2e3d38;margin:0 2px;text-decoration:none;}
.foot a.ft{color:#b00002;margin:0 10px;text-decoration:none;}*/

.com_user{width:184px;float:left;margin-top:20px;}
.com_user_t{width:184x;height:16px;background:url(../images/com_user_d.gif) center repeat-x;}
.com_user_t span{float:left;background:#fff;padding:0 3px;line-height:16px;color:#333;font-weight:bold;}
.com_user_t em{float:right;font-style:normal;color:#333;background:#fff;line-height:16px;padding:0 3px;}
.com_user_t em a{border:#e9e9e9 solid 1px;width:14px;height:14px;color:#e9e9e9;float:left;text-align:center;}
.com_user ul{margin-top:10px;}
.com_user ul li{width:88px;height:120px;float:left;margin-right:3px;margin-top:10px;position:relative;}
.com_user ul li i{font-style:normal;position:absolute;top:0;right:10px; cursor:pointer;display:none;font-size:16px;color:red;}
.com_user ul li:hover i{display:block;}
.com_user ul li img{width:82px;height:82px;float:left;border:#ccc solid 1px;}
.com_user ul li span{width:88px;height:35px;float:left;line-height:18px;text-align:center;padding-top:3px;}