<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="format-detection" content="telephone=no,email=no,adress=no"/>
	<title><{:lang('upgrade_title')}></title>
	<link rel="stylesheet" type="text/css" href="<{:config('skin_path')}>/css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="<{:config('skin_path')}>/css/upgrade.css">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_537983_p50sudb7q2xogvi.css"/>
	<style type="text/css">
		.mui-card-header{
			background: #e8e8e8;
			border-top: 1px solid #d6d6db;
		}
		.mui-card{
			margin:0px;
			border-radius: 0px;
		}
	</style>
</head>
<body>
	<{if !$is_h5_plus }>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title"><{:lang('upgrade_title')}></h1>
	</header>
	<{/if}>
	<div class="mui-content">

		<div class="mui-card" style="margin-top:0">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div>
					<span class="mui-icon iconfont icon-vip" style="color:#fead11;    font-size: 1.3em;"></span>
					<span class="div"><{:lang('vip_member')}></span>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			        	<div class="mui-input-row mui-radio mui-left mui-pull-left">
			        	    <label>1<{:lang('month2')}></label>
			        	    <input name="vip" type="radio" value="12">
			        	</div>
<!--		                <div class="mui-pull-left li-center" >USD12</div>-->
		                <div class="mui-pull-right li-right">USD12</div>
			        </li>

			        <li class="mui-table-view-cell">
			        	<div class="mui-input-row mui-radio mui-left mui-pull-left">
			        	    <label>3<{:lang('month2')}></label>
			        	    <input name="vip" type="radio" value="30" checked>
			        	</div>
<!--		                <div class="mui-pull-left li-center" >USD30</div>-->
		                <div class="mui-pull-right li-right">USD30</div>
			        </li>

			        <li class="mui-table-view-cell">
			        	<div class="mui-input-row mui-radio mui-left mui-pull-left">
			        	    <label>6<{:lang('month2')}></label>
			        	    <input name="vip" type="radio" value="59">
			        	</div>
<!--		                <div class="mui-pull-left li-center" >USD59</div>-->
		                <div class="mui-pull-right li-right">USD59</div>
			        </li>

			        <li class="mui-table-view-cell">
			        	<div class="mui-input-row mui-radio mui-left mui-pull-left">
			        	    <label>12<{:lang('month2')}></label>
			        	    <input name="vip" type="radio" value="108" >
			        	</div>
<!--		                <div class="mui-pull-left li-center" >USD108</div>-->
		                <div class="mui-pull-right li-right">USD108</div>
			        </li>
			    </ul>
			</div>





			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div>
					<span class="mui-icon iconfont icon-diamond" style="color:#007aff;    font-size: 1.2em;"></span>
					<span class="vip"><{:lang('vip_yj_member')}></span>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			        	<div class="mui-input-row mui-radio mui-left mui-pull-left">
			        	    <label>1<{:lang('month2')}></label>
			        	    <input name="vip" type="radio" value="100">
			        	</div>
<!--		                <div class="mui-pull-left li-center" >USD100</div>-->
		                <div class="mui-pull-right li-right">USD100</div>
			        </li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row mui-radio mui-left mui-pull-left">
							<label>3<{:lang('month2')}></label>
							<input name="vip" type="radio" value="288">
						</div>
<!--						<div class="mui-pull-left li-center" >USD288</div>-->
						<div class="mui-pull-right li-right">USD288</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row mui-radio mui-left mui-pull-left">
							<label>6<{:lang('month2')}></label>
							<input name="vip" type="radio" value="521">
						</div>
<!--						<div class="mui-pull-left li-center" >USD521</div>-->
						<div class="mui-pull-right li-right">USD521</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row mui-radio mui-left mui-pull-left">
							<label>12<{:lang('month2')}></label>
							<input name="vip" type="radio" value="999">
						</div>
<!--						<div class="mui-pull-left li-center" >USD999</div>-->
						<div class="mui-pull-right li-right">USD999</div>
					</li>

			    </ul>
			</div>

			<div class="mui-card-footer">
				<button class="mui-btn mui-btn-primary" style="display: block;width:100%;" id="sub"><{:lang('upgrade_sub_btn')}></button>
			</div>
		</div>






		<div class="mui-card" style="margin-top:10px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div>
					<span class="mui-icon iconfont icon-vip" style="color:#fead11;    font-size: 1.3em;"></span>
					<{:lang('vip_member')}>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<ul class="mui-table-view">
				        <li class="mui-table-view-cell">
				            <{:lang('upgrade_desc1')}>
				        </li>
				        <li class="mui-table-view-cell">
				            <{:lang('upgrade_desc2')}>
				        </li>
				    </ul>
			</div>


			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div>
					<span class="mui-icon iconfont icon-diamond" style="color:#007aff;    font-size: 1.2em;"></span>
					<{:lang('vip_yj_member')}>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<ul class="mui-table-view">
				        <li class="mui-table-view-cell">
				            <{:lang('upgrade_desc3')}>
				        </li>
				        <li class="mui-table-view-cell">
				            <{:lang('upgrade_desc2')}>
				        </li>
				    </ul>
			</div>
		</div>



	</div>
	<script type="text/javascript" src="<{:config('skin_path')}>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<{:config('skin_path')}>/js/public.js"></script>

	<script>
	$(function(){
		var to_user_id="<{$to_user_id}>";
		$("#sub").click(function(){
			var money = 190;
			money = $("input[type='radio']:checked").val();
			var upgrade_name = "";
			var dengji = $("input[type='radio']:checked").parent(".vip").html();
			var date = $("input[type='radio']:checked").parent("label").html();
			var upgrade_name = dengji+date;
			
			window.location.href="<{:url('upgrade/create_order','',false)}>/money/"+money;
			
		});
	});
	</script>
</body>
</html>