body{background:#efefef no-repeat center top;font-size:12px;font-family:"Microsoft Yahei";}
#login-box{font-size:13px;color:#cdcdcd;background: url(login_div.png);*background:#FFF;width:424px; height:238px;margin-left:auto;margin-right:auto;top:160px; position:relative;}
/*.login-top{height:48px;line-height:48px;background:#00aeef;font-size:24px;color:#FFF;padding:0 10px;}
.safe-tips{border:1px solid #F2DD8C;background:url(../images/safe-tips.gif) 10px #FFFFCC no-repeat;color:#666;height:35px;line-height:35px;margin-top:5px;padding-left:30px;zoom:1;overflow:hidden;}
.login-main{height:160px;margin-top:10px;}
.login-main  .login-btn{background:#00aeef;width:90px;height:35px;line-height:35px;text-align:center;font-size:16px;font-family:"Microsoft Yahei";font-weight:bold;color:#fff;border:none;margin-top:5px;cursor:pointer;}
.login-power{font:11px Tahoma,Helvetica,Arial,sans-serif;height:25px;line-height:25px;text-align:right;color:#999;margin-top:5px;}
.login-main input{background-color:#FFF;border:1px solid #00aeef;border-radius:3px; width:240px; height:40px;line-height:40px;padding-left:20px; color:#000; font-size:16px;margin-top:11px; font-weight:bold;}
.login-main dl dd input#vdcode{width:100px;margin-right:5px; margin-top:7px;border:1px solid #00aeef;border-radius:3px;}
.login-main a{color:#000; text-decoration:none; font-size:18px;}
.login-main a:hover{color:#f00;}*/
#login-box input{border:0;background:transparent;height:100%;line-height:100%;width:100%;padding:7px 0 0 30px;outline-style:none}
#vdimgck{width:80px; height:30px;}