<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>
		后台管理系统
	</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="layui-fluid">


	<div class="layui-card">
		<div class="layui-card-body">
			<blockquote class="layui-elem-quote" style="text-align: left;">
				<div class="layui-form">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<input type="text" name="search_username" id="search_username" class="layui-input" placeholder="会员账号">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">状态：</label>
						<div class="layui-input-inline">
							<select id="search_status" name="search_status">
								<option value="all">全部</option>
								<option value="enable">启用</option>
								<option value="disable">禁用</option>
							</select>
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">性别：</label>
						<div class="layui-input-inline">
							<select id="search_sex" name="search_sex">
								<option value="all">全部</option>
								<option value="male">男</option>
								<option value="female">女</option>
							</select>
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">内部会员：</label>
						<div class="layui-input-inline">
							<select id="search_inner_member" name="search_inner_member">
								<option value="all">全部</option>
								<option value="yes">是</option>
								<option value="no">否</option>
							</select>
						</div>
					</div>

					<!--<div class="layui-inline">
						<label class="layui-form-label">创建时间：</label>
						<div class="layui-input-inline">
							<input type="text" name="search_created_start" id="search_created_start" class="layui-input" placeholder="请输入起始日期">
						</div>
						<div class="layui-input-inline">
							<input type="text" name="search_created_end" id="search_created_end" class="layui-input" placeholder="请输入结束日期">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">更新时间：</label>
						<div class="layui-input-inline">
							<input type="text" name="search_updated_start" id="search_updated_start" class="layui-input" placeholder="请输入起始日期">
						</div>
						<div class="layui-input-inline">
							<input type="text" name="search_updated_end" id="search_updated_end" class="layui-input" placeholder="请输入结束日期">
						</div>
					</div>-->

					<div class="layui-inline">
						<div class="layui-input-inline">
							<button class="layui-btn" lay-submit lay-filter="search" id="search">搜索</button>
						</div>
					</div>
				</div>
			</blockquote>
			<table id="table" lay-filter="table"></table>
			<!--记录操作工具条-->
			<script type="text/html" id="bar">
				<a class="layui-btn layui-btn-xs" lay-event="resetPass">重置密码</a>
				<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
			</script>

			<script type="text/html" id="status">
				<input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
					   lay-filter="status" {{ d.status== 1 ? 'checked' : '' }}>
			</script>

			<script type="text/html" id="nameTpl">
				{{# if(d.name != null){ }}
					{{ d.name }}
				{{# }else{ }}
				<button type="button" class="layui-btn layui-btn-sm" lay-event="addRealName">添加</button>
				{{# } }}
			</script>

			<script type="text/html" id="allotedTpl">
				{{# if(d.is_alloted == '0'){ }}
				<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="fenpei">未分配</button>
				{{# }else{ }}
				<button type="button" class="layui-btn layui-btn-sm" lay-event="fenpei">重分配</button>
				{{# } }}
			</script>

			<script type="text/html" id="photoWall">
				<button type="button" class="layui-btn layui-btn-sm" lay-event="photowall">上照片墙</button>
			</script>

			<script type="text/html" id="isMemberTpl">
				{{# if(d.is_member == '1'){ }}
				<button type="button" class="layui-btn layui-btn-sm" lay-event="isMember">是</button>
				{{# }else{ }}
				<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="isMember">否</button>
				{{# } }}
			</script>

			<script type="text/html" id="alwaysOnlineTpl">
				<input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="是|否"
					   lay-filter="always_online" {{ d.always_online== 1 ? 'checked' : '' }}>
<!--				{{# if(d.always_online == '1'){ }}-->
<!--				<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="alwaysOnline">是</button>-->
<!--				{{# }else{ }}-->
<!--				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="alwaysOnline">否</button>-->
<!--				{{# } }}-->
			</script>

			<script type="text/html" id="shenheTpl">
				<input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已审核|待审核"
					   lay-filter="verify_status" {{ d.verify_status== 2 ? 'checked' : '' }}>
			</script>


			<script type="text/html" id="jinyongTpl">
				<input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已启用|已禁用"
					   lay-filter="status" {{ d.status== 1 ? 'checked' : '' }}>
			</script>

			<script type="text/html" id="jinyanTpl">
				<input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="未禁言|已禁言"
					   lay-filter="chat_state" {{ d.chat_state== 1 ? 'checked' : '' }}>
			</script>

			<script type="text/html" id="lookChatRecordTpl">
				<button type="button" class="layui-btn layui-btn-sm" lay-event="lookChatLog">查看聊天记录</button>
			</script>

			<script type="text/html" id="lookImgTpl">
				<button type="button" class="layui-btn layui-btn-sm" lay-event="lookImg">查看照片</button>
			</script>




		</div>
	</div>
</div>
<style>
	body .layui-table-cell{height: 50px;}
</style>
<link rel="stylesheet" href="/manage/static/plus/layui/css/layui.css">
<script src="/manage/static/plus/layui/layui.js"></script>
<script>
	layui.use(["jquery", "form", "layer","table","laydate"], function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var form = layui.form;
		var laydate = layui.laydate;
		var table = layui.table;
		laydate.render({
			elem: "#search_created_start",
			//range: true
		});
		laydate.render({
			elem: "#search_created_end",
			//range: true
		});
		laydate.render({
			elem: "#search_updated_start",
			//range: true
		});
		laydate.render({
			elem: "#search_updated_end",
			//range: true
		});


		var options = {
			elem: '#table',
			url: "/manage/controller/User.php",
			where: {},
			cols: [[
				{field:'user_id', title: 'ID',width:80},
				{title: '会员账号/性别/年龄',width:170,templet:function(d){
					var user_sex = '男';
					if(d.user_sex=='2'){
						user_sex= '女';
					}
					var age = (new Date()).getFullYear()-d.birth_year;
					return d.user_name+'/'+user_sex+'/'+age;
					}},
				{title: '头像',width:80,templet:function(d){
						return '<img src="/'+d.user_ico+'" class="layui-circle" style="width:50px;" onerror="this.src=\'/Public/adminnew/images/default_header.png\';">';
					}},
				//{field: 'country', title: '国籍'},
				{title: '推荐人',templet:"#allotedTpl",width:90},
				//{title: '照片墙',width:100,templet:"#photoWall"},
				{field: 'user_email', title: '邮箱',width:200},
				//{field: 'reg_ip', title: '注册IP',width:150},
				//{field: 'last_ip', title: '最后登录IP',width:150},
				{field: 'zhuce_ip', title: 'IP',width:180},
				{title: '是否会员',templet:"#isMemberTpl",width:100},
				{title: '会员级别',width:190,templet:function(d){
					if(d.level==0){
						return '普通会员';
					}else if(d.level==1){
						return '蓝钻会员（'+d.deadline_1+'）';
					}else if(d.level == 2){
						return '皇冠会员（'+d.deadline+'）';
					}
					}},
				{field: 'golds', title: '剩余金币数',width:100,edit:'text'},
				//{title: '总是在线',templet:"#alwaysOnlineTpl",width:110},
				//{title: '审核',width:100,templet:"#shenheTpl",width:110},
				{title: '禁用/启用',width:100,templet:"#jinyongTpl",width:110},
				//{title: '禁言',width:100,templet:"#jinyanTpl",width:110},
				{title: '查看聊天记录',width:130,templet:"#lookChatRecordTpl"},
				{title: '查看照片',width:100,templet:"#lookImgTpl"},
				{field: 'user_add_time', title: '注册时间',width:170},
				{title:"操作",templet:"#bar",width:160,fixed: "right"}
			]],
			page: true,
			limit:10,
			loading: true,
			done: function (res, cur, pages) {

			}
		};
		var tableIns = table.render(options);
		table.on('tool(table)', function (obj) {
			var data = obj.data;
			var layEvent = obj.event;
			var tr = obj.tr;
			if (layEvent == 'addRealName') {
				layui.layer.open({
					type: 2,
					title: "完善用户资料",
					fixed: true,
					maxmin: true,
					area: ["80%", "95%"],
					content: "{:U('addname')}?id=" + data.id
				})
			} else if (layEvent == 'fenpei') {
				layui.layer.open({
					type: 2,
					title: "分配",
					fixed: true,
					maxmin: true,
					area: ["80%", "95%"],
					content: "{:U('allot')}?id=" + data.id
				})
			} else if (layEvent == 'photowall') {
				layer.confirm('确定【'+data.username+'】上照片墙吗？', function(index){
					$.getJSON("{:U('Admin/User/photoWall')}", {'id':data.id}, function(msg){
							if(msg.status == 'error'){
								layer.msg(msg.msg);
								return false;
							}else{
								layer.alert(msg.msg,function(){
									location.reload();
								});
							}
						}
					);
					layer.close(index);
				});
			} else if (layEvent == 'isMember') {
				layui.layer.open({
					type: 2,
					title: "调整会员级别",
					fixed: true,
					maxmin: true,
					area: ["80%", "95%"],
					content: "{:U('changeLevel')}?id=" + data.id
				})
			} else if (layEvent == 'alwaysOnline') {
				layer.confirm('您确定要设定【'+data.username+'】在线状态吗？', function (index) {
					var url = "{:U('alwaysOnline')}";
					var status="yes";
					if(data.always_online==1){
						status="no";
					}
					$.getJSON(url, {id: data.id,status:status}, function (res) {
						if (res.status == "error") {
							layer.msg(res.msg);
							return false;
						}else{
							layer.alert(res.msg, function () {
								window.location.reload();
							});
						}
					});
					layer.close(index);
				})
			}else if (layEvent == 'lookChatLog') {
				layui.layer.open({
					type: 2,
					title: "查看聊天记录",
					fixed: true,
					maxmin: true,
					area: ["80%", "95%"],
					content: "{:U('chat/showlist')}?user_id=" + data.id
				})
			} else if (layEvent == 'lookImg') {
				layui.layer.open({
					type: 2,
					title: "查看照片",
					fixed: true,
					maxmin: true,
					area: ["80%", "95%"],
					content: "{:U('Photo/showlist')}?user_id=" + data.id
				})
			} else if (layEvent == 'del') {
				layer.confirm('您确定要删除'+data.username+'吗？', function (index) {
					$.getJSON("{:U('del')}", {id: data.id}, function (res) {
						if (res.status == "error") {
							layer.msg(res.msg);
							return false;
						}else{
							layer.alert(res.msg, function () {
								window.location.reload();
							});
						}
					});
					layer.close(index);
				})
			} else if (layEvent == 'resetPass') {
				layer.confirm('您确定要重置'+data.username+'的密码吗？', function (index) {
					$.getJSON("{:U('resetPass')}", {id: data.id}, function (res) {
						if (res.status == "error") {
							layer.msg(res.msg);
							return false;
						}else{
							layer.alert(res.msg, function () {
								window.location.reload();
							});
						}
					});
					layer.close(index);
				})
			}
		});
		form.on("submit(search)", function (res) {
			var data = res.field;
			options["where"] = data;
			tableIns.reload(options);
			return false;
		});

		table.on('edit(table)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
			var gold = obj.value;
			$.post("{:U('changeGold')}",{id:obj.data.id,gold:gold},function(res){
				layer.msg(res.msg);
				return false;
			},'json');
		});

		//监听状态操作
		form.on('switch(verify_status)', function (obj) {
			var id = this.value;
			$.post("{:U('shenhe')}", {id: id}, function (res) {
				if (res.msg != "") {
					layer.msg(res.msg);
					return false;
				}
			},'json');
		});
		form.on('switch(status)', function (obj) {
			var id = this.value;
			$.getJSON("{:U('changeStatus')}", {id: id}, function (res) {
				if (res.msg != "") {
					layer.msg(res.msg);
					return false;
				}
			});
		});
		form.on('switch(chat_state)', function (obj) {
			var id = this.value;
			$.getJSON("{:U('chatStatus')}", {id: id}, function (res) {
				if (res.msg != "") {
					layer.msg(res.msg);
					return false;
				}
			});
		});

		form.on('switch(always_online)', function (obj) {
			var id = this.value;
			$.getJSON("{:U('alwaysOnline')}", {id: id}, function (res) {
				if (res.msg != "") {
					layer.msg(res.msg);
					return false;
				}
			});
		});
	});
</script>
</body>
</html>