<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><{:lang('pay')}></title>
    <link rel="stylesheet" type="text/css" href="<{:config('skin_path')}>/css/mui.min.css"/>
    <link href="<{:config('skin_path')}>/css/mall.css" rel="stylesheet"/>
</head>
<body>
	<{if !$is_h5_plus }>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title"><{:lang('pay')}></h1>
	</header>
	<{/if}>
	<div class="mui-content">
		<form class="mui-input-group" method="post" action="">
		    <div class="form-block">
		        <div class="mui-row">
		          <label><{:lang('order_info')}>:</label>
		          <div class="mui-row-right"><{$info.giftname}></div>	
		        </div>
		        <div class="mui-row">
		          <label><{:lang('need_golds')}>:</label>
		          <div class="mui-row-right">$<{$info.money}></div>	
		        </div>
		    </div>
		    <div class="form-block">
		    	<div class="form-title"><{:lang('select_pay')}></div>
		    	<div class="mui-row mui-radio mui-left">
		    	  <label><{:lang('upgrade_foy_youself')}></label>
		    	  <input name="to_user" type="radio" checked  value="1">	   	
		    	</div>
		    	<div class="mui-row mui-radio mui-left">
		    	  <label><{:lang('upgrade_foy_others')}></label>
		    	  <input name="to_user" type="radio"  value="2">
		    	  <input type="text" name="friend_name" class="mui-input-clear" placeholder="<{:lang('friend_name')}>"/>
		    	</div>	    	
		    </div>
		    <div class="form-block">
		    	<div class="form-title"><{:lang('zengyan')}></div>
		    	<div class="mui-row">
		    		<textarea name="note" rows="5" cols="" class="form-text"></textarea>
		    	</div>
		    </div>
		    <div class="form-block">
		    	<div class="form-title"><{:lang('select_pay_type')}></div>
		    	<div class="mui-row mui-checkbox mui-left">
		    		<label style="height: 28px;">
		    			<{:lang('golds')}>
		    		</label>
		    		<input name="pay_type" type="checkbox" checked value="1">
		    	</div>		    	
		    </div>
		    <div class="form-btn">
		    	<input type="hidden" name="id" value="<{$info.id}>">
		    	<button type="submit" class="mui-btn mui-btn-blue mui-btn-block" id="sub"><{:lang('buy')}></button>
		    </div>
		    
		</form>
              
	</div>
	<script type="text/javascript" src="<{:config('skin_path')}>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<{:config('skin_path')}>/js/public.js"></script>
	<script type="text/javascript" src="<{:config('skin_path')}>/js/mui.min.js"></script>
	<script>
	$(function(){
		$("#sub").click(function(){
			var id = "<{$info.id}>";
			var to_user = $("input[name='to_user']:checked").val();
			var friend_name = $("input[name='friend_name']").val();
			var note = $("#note").val();
			var pay_type = $("input[name='pay_type']:checked").val();
			var data = {
				id:id,
				to_user:to_user,
				friend_name:friend_name,
				note:note,
				pay_type:pay_type
			};
			$.post("<{:url('greetcard/sub_pay')}>",data,function(res){
				if(res.msg){
					mui.toast(res.msg);
				}
				if(typeof(res.url) != "undefined"){
					setTimeout(function(){window.location.href=res.url},3000);
				}
			},"json");
			return false;
		});
			
	});
	</script>
</body>
</html>